<header class="site-header color-{{ .logoColor }}">
	<div class="logo-container">
		<a href="/" class="logo"><span>Skycoin</span></a>
	</div>
	<nav class="nav">
		<ul>
			{{ range .context.Site.Menus.main }}
				{{ if .HasChildren }}
				<li class="has-dropdown">
					<span class="nav-link">{{ .Name }}</span>
					<ul>
						{{ range .Children }}
						<li>
							<a class="dropdown-item nav-item-{{ .Identifier }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
						</li>
						{{ end }}
					</ul>
				</li>
				{{ else }}
				<li>
					<a class="nav-link nav-item-{{ .Identifier }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			{{ end }}
		</ul>
	</nav>	
</header>