<div class="sign-up">
  <div class="container">
    <h3>Sign up to receive updates.</h3>
    <p>Receive updates on development, exchange listings, news, conferences, and other stuff by signing up below.</p>
    <form
      action="//skycoin.us16.list-manage.com/subscribe/post?u=47a93630ab9172f29aff78b99&amp;id=264afe24a1"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate">
      <div>
        <input type="text" name="" placeholder="Name" class="sign-up-name" required>
        <input type="email" name="EMAIL" class="sign-up-email required email" id="mce-EMAIL" placeholder="Email" required />
        <input type="submit" name="subscribe" value="Sign Up" class="cta cta--dark" />
      </div>
      <div class="skyminer-signup">
        <input type="checkbox" value="1" name="group[1057][1]" id="mce-group[1057]-1057-0" checked class="hidden-checkbox" />
        <label for="mce-group[1057]-1057-0" class="fancy-label">I am interested in the Skyminer</label>
      </div>
    </form>
  </div>
</div>