<section class="partners" style="background:lightgray;">
   <div>
      <h3>Partnerships & Media</h3>
      <ul>
         <li><img alt="Forbes Partnership" src="/images/Forbes.jpg"></li>
         <li><img alt="Blockchain News Partnership" src="/images/BlockchainNews.jpg"></li>
         <li><img alt="AlphaBit Partnership" src="/images/Alphabit.png"></li>
         <li><img alt="CNN Partnership" src="/images/CNN.png"></li>
         <li><img alt="Fox News Partnership" src="/images/Fox.png"></li>
      </ul>
   </div>
   <hr>
   <div>
      <h3>Exchanges</h3>
      <ul>
         <li>
            <a href="https://www.cryptopia.co.nz/Exchange/?market=SKY_BTC"><img alt="Cryptopia Exchange" src="/images/Cryptopia.png"></a>
         </li>
         <li>
            <a href="https://next.exchange/"><img alt="NEXT.exchange Exchange" src="/images/NextExchange.png"></a>
         </li>
         <li>
            <a href="https://www.c2cx.com/in/trade_usdt_sky"><img alt="C2CX Exchange" src="/images/C2CX.jpg"></a>
         </li>
      </ul>
   </div>
</section>