.accordion {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
}

.accordion h3 {
	color: var(--color-brand);
	text-indent: -1.3em;
    margin-left: 1.3em;
}

/* Thumb */
.accordion-thumb {
	margin: 0;
	padding: .8rem 0;
	cursor: pointer;
	font-weight: normal;
	
	/*// Chevron*/
	&::before {
		content: '';
		display: inline-block;
		height: 7px;
		width: 7px;
		margin-right: 1rem;
		margin-left: .5rem;
		vertical-align: middle;
		border-right: 1px solid;
		border-bottom: 1px solid;
		transform: rotate(-135deg);
		transition: transform .2s ease-out;
	}
}

/* Panel */
.accordion-panel {
	margin: 0;
	margin-left: 2em;
	padding-bottom: .8rem;
	display: none;
}

/* Active */
.accordion-item.is-active .accordion-thumb::before {
	transform: rotate(45deg);
	top: -4px;
	position: relative;
}


.topic-nav {
	margin: 1em 0;
	display: block;
}

.topic-nav a {
    text-decoration: none;
    color: gray;
}

.topic-nav li:first-child {
	margin-left: 0;
}

/* Accordion CSS raw because errors  */

.topics {
	margin-bottom: .5em;
}

.topic-nav a:hover {
	color: blue;
}

.faq h2 {
	font-size: 26px;
	margin-left: 10px;
	margin-top: 2em;
}

fc-blue {
	color: blue;
}

.faq.container {
	padding:  3em 14em;
}