.hero h1 {
	color: white;
	padding-bottom: 2em;
}

.hero-skywire {
	background: url('/images/hero-skywire-f.jpg');
}

.hero-skycoin {
	background: url('/images/hero-skycoin-f.jpg');
}

.hero-skyledger {
	background: url('/images/hero-skyledger-f.jpg');
}

.bg-gray-dark {
	background: #2A2D32;
}

.bg-gray-light {
	background: #212429;
}