.hero {
	align-items: flex-end;
	display: flex;
	margin-top: -124px;
	min-height: 600px;
	padding: 124px 0 0;
}

.hero h1 {
	color: white;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 0 var(--standard-padding-mobile) 100px;
	width: 100%;
}

.hero-skywire {
	background: url('/images/hero-skywire-f.jpg');
}

.hero-skycoin {
	background: url('/images/hero-skycoin-f.jpg');
}

.hero-ledger {
	background: url('/images/hero-skyledger-f.jpg');
}