{{ partial "document-head.html" . }}
{{ partial "header.html" (dict "context" . "logoColor" "dark") }}

<main>
	<section class="container">
		<!-- //start section A -->
		<div class="hero hero--empty">
			<h1 class="gradient">Cryptocurrency is only part of the story. Skycoin is creating a new decentralized internet and paying the who power it.</h1>
		</div>
		<!-- 	//end section A
		-------
		//start section b -->

		<!-- //yellow -->
		<h4>Skycoin is an entire ecosystem:</h4>

		<!-- //line detail -->
		<!-- //gradient text -->
		<div class="grid">
			<div class="column--half card-technology">
				<a href="/skycoin/">
					<img src="/images/technology-skycoin.jpg" alt="graphic representing Skycoin" />
					<div class="card-content">
						<strong>Technology</strong>
						<h2>Skycoin</h2>
						<p>A cryptocurrency native to the Skycoin network</p>
					</div>
				</a>
			</div>

			<!-- //line detail -->
			<div class="column--half card-technology">
				<a href="/skywire/">
					<img src="/images/technology-skywire.jpg" alt="graphic representing Skywire" />
					<div class="card-content">
						<strong>Technology</strong>
						<h2>Skywire</h2>
						<p>An anonymous, decentralized mesh internet</p>
					</div>
				</a>
			</div>

			<!-- //line detail -->
			<div class="column--half card-technology">
				<a href="/skyminer/">
					<img src="/images/technology-skyminer.jpg" alt="graphic representing Skyminer" />
					<div class="card-content">
						<h2>Skyminer</h2>
						<p>The hardware and access point for Skywire</p>
					</div>
				</a>
			</div>

			<!-- //line detail -->
			<div class="column--half card-technology">
				<a href="/skyledger/">
					<img src="/images/technology-skyledger.jpg" alt="graphic representing Skyledger" />
					<div class="card-content">
						<h2>Skyledger</h2>
						<p>Our decentralized open blockchain network</p>
					</div>
				</a>
			</div>

			<!-- //line detail -->
			<div class="column--half card-technology">
				<a href="/skysuite/">
					<img src="/images/technology-skysuite.jpg" alt="graphic representing Skysuite" />
					<div class="card-content">
						<h2>Skysuite</h2>
						<p>A suite of decentralized applications</p>
					</div>
				</a>
			</div>
		</div>

		<!-- (Body text, set off by an image to the right of the constellation image we have on other branding assets)  -->
		<p>Together, the Skycoin ecosystem fulfills the promise of decentralization -- while also working towards the elimination of mining rewards, developing energy-efficient custom hardware, lightning-fast transaction speeds, and the creation of a more secure, private internet alternative.</p>

		<!-- //end section -->

		<!-- ---- -->

		<!-- //section C -->

		<h2>The Skycoin Story</h2>

		<p>Skycoin’s first line of code was written in 2012. At the time, Bitcoin’s popularity garnered equal parts interest and apprehension from the financial services community. The community realized that while early investment could mean tremendous returns, however, few in the field possessed the expertise to fully vet the technology behind it. So they enlisted the help of code and crypto experts to conduct an audit. </p>

		<p>The audit team assembled would become Skycoin’s first developers.</p>

		<p>What started as an audit into the cryptocurrency’s volatility, became a six year project of writing to resolving issues such as duplicate Coinbase outputs, signature immutability, transaction immutability, and the critical one: Bitcoin’s consensus algorithm Proof-of-Work.</p>

		<!-- (Image off to the right that shows the obilyk) -->

		<!-- //link More on the company Skycoin. -->
	</section>

	{{ partial "signup.html" . }}
	{{ partial "sponsors.html" . }}

</main>

{{ partial "footer.html" . }}